<div class="container mx-5 justify-content-end ">
  <div class="row m-0">
    <div class="col-4 ">
      <ul style=" list-style-type: none">
        <li class="my-3" style="font-size:20px;"><a href="profile">
          <i class="fa fa-users" style="color:black">My Account</i></a></li>

        <li class="active my-3" style="font-size:20px;"><a href="coupon">
          <i class="fa fa-ticket">My Coupon</i></a></li>

        <li class="my-3" style="font-size:20px;"><a href="notifications">
          <i class="fa fa-bell" style="color:black">My Notifications</i></a></li>
      </ul>
      <div class="input-group">

      </div>
    </div>

  <div class="col-8">
    <h4><small>Your Coupon</small></h4>
    <hr>
    <form class="w-100">
      <div class="card-group">
        {{#each coupons}}
          <div class="card">
            {{!-- <img class="card-img-top" src="/images/" alt="Card image cap" style="height: 20rem;"> --}}
            <div class="card-body" style="position:relative;">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text mb-5">
                <p class="card-text">Use Promo Code: {{this.code}}</p>
                <p class="card-text">Expires: {{this.expired}}</p>
                <p class="card-text">Affect: -{{this.effect}}%</p>
              </p>
              <p class="card-text"><small class="text-muted">Created at: {{this.createdAt}}</small></p>
            </div>
          </div>
        {{/each}}
      </div>   
    </form>
    <br><br>
  </div>
</div>
</div>