<div class="container-fluid p-5">
    <div id="content" class="row">
        <div class="col-5 d-flex justify-content-center">
            <img src="{{product.src}}" class="img-fluid img-thumbnail mx-auto" alt="" style="max-height: 400px;">
        </div>
        <div class="col-7 product-info d-flex flex-column justify-content-between">
            <h1 class="h1"><strong>{{product.name}}</strong></h1>
            <h2><i class="fa fa-heart mr-2 heart-ico" style="color: palevioletred;"></i><span class="h2"><b>{{product.like}}</b></span></h2>
            <div class="container-fluid m-bg-white product-infor_prices">
                <span class="product-infor_prices-real">${{product.price}}</span>
                <del class="product-infor_prices-org">$5</del>
                <span class="product-infor_prices-discount">-20%</span>
            </div>
            
            <div class="container-fluid size-checkbox">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">S</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">M</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">L</label>
                </div>
            </div>

            <div class="container-fluid addr-info">
                <span class="mesg">Ship to: </span>
                <span class="addr-info_addr">NVC, Q5, TP.HCM, VN, Earth</span>
                <span class="addr-info_change">Change</span>
            </div>

            <div class="container-fluid add-cart">
                <p>Quantity:</p>
                <div class="item_qty input-group">
                    <div class="input-group-prepend">
                        <button id="decBtn" class="btn btn-outline-secondary btn-secondary text-white" type="button" onclick="decreaseBtnClickedEvent()"><i class="fa fa-minus"></i></button>
                    </div>
                    <input id="qtyField" type="number" class="form-control text-center col-1" value="1">
                    <div class="input-group-append">
                        <button id="incBtn" class="btn btn-outline-secondary btn-secondary text-white" type="button" onclick="increaseBtnClickedEvent()"><i class="fa fa-plus"></i></button>
                    </div>
                        <script>
                            function increaseBtnClickedEvent() {
                                var qtyField = document.querySelector("#qtyField");
                                qtyField.value = Number(qtyField.value) + 1; 
                            }

                            function decreaseBtnClickedEvent() {
                                var qtyField = document.querySelector("#qtyField");
                                qtyField.value = qtyField.value > 0 ? Number(qtyField.value) - 1 : 0;     
                            }
                        </script>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-order">Add to cart</button>
                <button class="btn btn-md btn-like mb-2" type="button"><i class="fa fa-heart text-white"></i></button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-5">
     
        <form id="comment-form" class="md-form d-flex flex-column" action="/comments" method="POST">

            <div class="label-area">
                <i id="comment-form_icon" class="fas fa-pencil-alt prefix"></i>
                <label id="comment-form_label" for="comment-form_text-area">Give a comment</label>
            </div>


            <textarea id="comment-form_text-area" name="content" class="md-textarea form-control" rows="3"></textarea>
            <button id="comment-form_submit-btn" type="submit" class="btn btn-danger mt-3" onclick="">Send</button>
        </form>
    
    </div>

    <div class="container-fluid p-5">
        {{#each comments}}
        <div class="row">
            <div class="col-md-2 col-sm-4 col-lg-2"><img src="{{this.[User.avatar]}}" alt="" class="cmt-avatar img-thumbnail img-fluid"></div>
            <div class="col-md-10 col-sm-8 col-lg-10 cmt-col">
                <span class="cmt-author h2"><b>{{this.[User.name]}}</b></span>
                <span class="date-sm"><span style="font-size: 16px">Posted {{this.createdAt}}</span></span>
                <div class="prd-rating">
                    {{#if this.isLiked}}
                    <i class="fa fa-heart mr-2" style="color: palevioletred; font-size: 30px"></i>
                    <span class="h5"><b> Liked</b></span>
                    {{else}}
                    <i class="fa fa-heart mr-2" style="color: black; font-size: 30px"></i>
                    <span class="h4"><b> Disliked</b></span>
                    {{/if}}
                </div>
                <div class="cmt-container p-2 my-2">
                    <p>{{this.content}}</p>
                </div>
                
                <div class="cmt-rating_group-count row">
                    <span class="cmt-rating_like-count col-lg-1 col-md-2 col-sm-2 col-xs-3"><i class="fa fa-thumbs-o-up mr-2" aria-hidden="true"></i>{{this.like}}</span>
                    <span class="cmt-rating_dislike-count col-lg-1 col-md-2 col-sm-2 col-xs-3"><i class="fa fa-thumbs-o-down mr-2" aria-hidden="true"></i>{{this.dislike}}</span>
                </div>
                <div class="cmt-rating_group-btn row">
                    <span class="cmt-rating_like col-lg-1 col-md-2 col-sm-2 col-xs-3">Like</span>
                    <span class="cmt-rating_dislike col-lg-1 col-md-2 col-sm-2 col-xs-3">Dislike</span>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>
