    <div class="container mx-5 my-2 justify-content-end ">
      <div class="row m-0">
        <div class="col-4 ">
          <ul style=" list-style-type: none">
            <li class="active my-3" style="font-size:20px;"><a href="/profile">
            <i class="fa fa-users">My Account</i></a></li>
            <li class="my-3" style="font-size:20px;"><a href="/coupon">
            <i class="fa fa-ticket" style="color:black">My Coupon</i></a></li>
            <li class="my-3" style="font-size:20px;"><a href="/notifications">
            <i class="fa fa-bell" style="color:black">My Notifications</i></a></li>
          </ul>
        </div>

      <div class="col-8" style="border: 1px solid white">
        <h4><small>Your Information</small></h4>
        <hr>
        <form action="/profile" method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input type="text" class="form-control" id="nameField" name="nameField" value="{{user.name}}" disabled>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="emailField" name="emailField" value="{{user.email}}" disabled>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Gender: </label>
            <div class="form-check form-check-inline">
              {{#if user.gender}}
              <input class="form-check-input mx-2" type="radio" name="male" id="maleBtn" value="m" onclick="switchM()" checked disabled>
              {{else}}
              <input class="form-check-input mx-2" type="radio" name="male" id="maleBtn" value="m" onclick="switchM()" disabled>
              {{/if}}
              <label class="form-check-label" for="maleBtn">Male</label>
            </div>
            <div class="form-check form-check-inline">
              {{#if user.gender}}
              <input class="form-check-input" type="radio" name="female" id="femaleBtn" value="f" onclick="switchF()" disabled>
              {{else}}
              <input class="form-check-input" type="radio" name="female" id="femaleBtn" value="f" onclick="switchF()" checked disabled>
              {{/if}}
              <label class="form-check-label" for="femaleBtn">Female</label>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Phone Number</label>
            <input type="number" class="form-control" id="phoneField" value="{{user.phone}}" disabled>
          </div>
          <button type="button" id="edit-prof-btn" class="btn btn-warning btn-lg" onclick="edit()">Edit</button>      
          <button type="submit" id="update-prof-btn" class="btn btn-warning btn-lg" onclick="update()" style="display: none">Update</button>      
          </div>
        </form>
        <br><br>
      </div>
    </div>
    </div>

    
<script>
  var nf = document.getElementById('nameField');
  var ef = document.getElementById('emailField');
  var pg = document.getElementById('phoneField');
  var mb = document.getElementById('maleBtn');
  var fb = document.getElementById('femaleBtn');
  var editBtn = document.getElementById('edit-prof-btn');
  var updateBtn = document.getElementById('update-prof-btn');
  
  function edit() {
    nf.removeAttribute('disabled');
    ef.removeAttribute('disabled');
    pg.removeAttribute('disabled');
    mb.removeAttribute('disabled');
    fb.removeAttribute('disabled');
    editBtn.style.display = "none";
    updateBtn.style.display = "block";
  }

  function update() {
    editBtn.style.display = "block";
    updateBtn.style.display = "none";
    nf.setAttribute('disabled', true);
    ef.setAttribute('disabled', true);
    pg.setAttribute('disabled', true);
    mb.setAttribute('disabled', true);
    fb.setAttribute('disabled', true);
  }

  function switchF() {
    mb.checked = false;
    fb.checked = true;
  }
   
  function switchM() {
    mb.checked = true;
    fb.checked = false;
  }
</script>
